<section class="books">
    <div class="books__search">
        <img src="https://i.ibb.co/0tySPYk/logoempresa.png" alt="logo" class="books__search__logo"/>
        <div class="books__inputcontainer">
            <input type="search" placeholder="Busca por título" class="books__inputContainer__input" [(ngModel)]="titledata" (input)="handleChange()"/>          
        </div>
    </div>
    <div class="books__select">
        <select class="books__select__input" [(ngModel)]="option" (change)="getOption()">Ordenar por
            <option class="books__select__input--options" *ngFor="let value of orders">{{value}}</option>
        </select>
    </div>
    <div class="books__section">
        <ng-container *ngIf ="this.titledata ; else noFilter">
            <ng-container  *ngFor="let item of filterData;">
                <div class="books__container">
                    <div class="books__imgcontainer">
                        <img src={{item.img}} alt="cover" class="books__container__img"/>
                        <ng-container *ngIf = item.new>
                            <span class="books__container__new">NUEVO</span>
                        </ng-container>
                    </div>
                    
                    <div>
                        <h2 class="books__container__subtitle">{{item.titulo | uppercase}}</h2>
                        <h2 class="books__container__autor">{{item.autor | uppercase}}</h2>
                        <div>
                            <p class="books__container__description">{{item.editorial}}</p>
                            <p class="books__container__description">{{item.descripcion}}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #noFilter>
            <ng-container  *ngFor="let item of result;">
                <div class="books__container" (click)="handleRedirection(item.id)">
                    <div class="books__imgcontainer">
                        <img src={{item.img}} alt="cover" class="books__container__img"/>
                        <ng-container *ngIf = item.new>
                            <span class="books__container__new">NUEVO</span>
                        </ng-container>
                    </div>
                    
                    <div>
                        <h2 class="books__container__subtitle">{{item.titulo | uppercase}}</h2>
                        <h2 class="books__container__autor">{{item.autor | uppercase}}</h2>
                        <div>
                            <p class="books__container__description">{{item.editorial}}</p>
                            <p class="books__container__description">{{item.descripcion}}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-template>
        <div class="button">
            <button class="button__container" (click)="handlePrevious()">
                <img src="../../assets/icons/right.svg" width="16" height="16"/>
                Anterior
            </button>
            <button class="button__container" (click)="handleNext()">
                Siguiente
                <img src="../../assets/icons/left.svg" width="16" height="16"/>
            </button>
        </div>
    </div>
    

    
</section>
